APP_NAME=EASY-STACK-MINI
# container users
USER_ID=1000
GROUP_ID=1001
# host user
HOST_USER=micha
HOST_GROUP=docker
# git credentials
GIT_USER="your name"
GIT_EMAIL="your email"

# mysql
# mysql ports
MYSQL_EXTERNAL_PORT=33065
MYSQL_INTERNAL_PORT=3305
# mysql db
DATABASE_HOST=mysql
DATABASE_PORT=3305
DATABASE_USER=admin
DATABASE_PASSWORD=test123
DATABASE_NAME=database_one
DATABASE_VERSION="8.4.0"
MYSQL_TCP_PORT=3305
MYSQL_ROOT_PASSWORD=root
MYSQL_USER=admin
DB_DUMP_OUTPUT_PATH=/var/www/migrations/dump
DB_DUMP_MIGRATION_OUTPUT_PATH=/var/www/migrations/dump
# test db mysql
DATABASE_TEST_HOST=mysql
DATABASE_TEST_PORT=3305
DATABASE_TEST_USER=admin
DATABASE_TEST_PASSWORD=test123
DATABASE_TEST_NAME=database_one_test
DATABASE_TEST_VERSION="8.4.0"
# maria
# maria ports
MARIA_EXTERNAL_PORT=33067
MARIA_INTERNAL_PORT=3306
# maria database
DATABASE_MARIA_HOST=maria
DATABASE_MARIA_PORT=3306
DATABASE_MARIA_USER=admin
DATABASE_MARIA_PASSWORD=test123
DATABASE_MARIA_PHOTOPRISM_NAME=photoprism
DATABASE_MARIA_VERSION=11.5.2
MARIADB_TCP_PORT=3306
MARIADB_DATABASE=photoprism
MARIADB_AUTO_UPGRADE=1
MARIADB_INITDB_SKIP_TZINFO=1
# redis
REDIS_INTERNAL_PORT=6379
REDIS_INTERNAL_TWO_PORT=9121
REDIS_HOST=redis
REDIS_USERNAME=
REDIS_PASSWORD=root
REDIS_DATABASE_NAME=0
REDIS_DATABASE_TEST_NAME=1
REDIS_SCHEME=redis
# ElasticSearch
ELASTIC_EXTERNAL_PORT=9200
ELASTIC_INTERNAL_PORT=9200
ELASTIC_PASSWORD=supersave123!
# Minio
MINIO_SERVER_URL_ONE=http://0.0.0.0:9006
MINIO_SERVER_URL_TWO=http://0.0.0.0:9007
MINIO_HOST_URL=http://minio:9006
#
MINIO_SERVER_ACCESS_KEY=3cd5woo8l7f3qd2HDtPV
MINIO_SERVER_SECRET_KEY=SZPp4nNhCBDRA2xMS5j06IRL9YSwe6hnDJpcz4aB
MINIO_EXTERNAL_PORT_ONE=9006
MINIO_INTERNAL_PORT_ONE=9006
MINIO_EXTERNAL_PORT_TWO=9007
MINIO_INTERNAL_PORT_TWO=9007
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=admin1234567
MINIO_DATA_DIR=/bitnami/minio/data
MINIO_DEFAULT_BUCKETS=easy-stack
# Postgres
POSTGRES_EXTERNAL_PORT=5432
POSTGRES_INTERNAL_PORT=5432

PGDATA=/var/lib/postgresql/data
POSTGRES_DB=postgres_one
POSTGRES_USER=admin
POSTGRES_USER_ROOT_PASSWORD=root
POSTGRES_USER_PASSWORD=test123
SERVICE_NAME=postgres
POSTGRES_MULTIPLE_DATABASES=postgres_one


# Don't change this unless you have a new Docker Hub provider.
DOCKER_REPO_USER=opillion
# read only docker hub token, if you wan't to build your own images, you will need a push token
DOCKER_PASS=dckr_pat_JXRxAcvO-tqKAg2mH_3lzjj8U9o
DOCKER_USER=docker
DOCKER_REPO_NAME=opillion
## Check for the latest tag at: https://hub.docker.com/repositories/opillion
# The base image tag is used here.
BASE_IMAGE_TAG=easyStackBase001
# This is the developer image tag. Please use a new tag when creating images
# to avoid conflicts in other branches.
DEV_IMAGE_TAG=easyStackMiniDev001
# This is the prod image tag
PROD_IMAGE_TAG=easyStackMiniProd001
# Use this for docker-compose.yml
# If you do not need precompiled images use
# DOCKER_IMAGE_SOURCE=dev
DOCKER_IMAGE_SOURCE=dev-compiled
# These are the containers you can build with buildx.
# single: DOCKER_CONTAINER := mysql
DOCKER_CONTAINER=alpine
# DOCKER_CONTAINER=alpine
# These are the multi-build systems that will be built.
PLATFORMS=linux/amd64,linux/arm64
# docker network
DOCKER_NETWORK=easy-stack-mini
