[mysqld]
pid-file=/var/run/mysql/mysqld.pid
socket=/var/run/mysqld/mysqld.sock
datadir=/usr/local/mysql/mysql-files
secure-file-priv=NULL
log-error-verbosity=1
# Custom config should go here
!includedir /etc/mysql/conf.d/
max_allowed_packet=256M
